<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651754006697-ua66s3lmqq4b3omcs7jsstaujp1a3lqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651754006697-ua66s3lmqq4b3omcs7jsstaujp1a3lqc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>651754006697-f0sg768e63ilvr25uaari5eojuov95gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLyT12lyQKPD8zFD0V3QEYkaSXg_mlDjg</string>
	<key>GCM_SENDER_ID</key>
	<string>651754006697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopiziapp</string>
	<key>PROJECT_ID</key>
	<string>shopizyy</string>
	<key>STORAGE_BUCKET</key>
	<string>shopizyy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651754006697:ios:1e17a6d6c4127e08ee21b8</string>
</dict>
</plist>